@import 'colors';

@import '../components/Navigation/Navigation.scss';
@import '../components/Box/Box.scss';
@import '../components/WeaponRow/WeaponRow.scss';

// Typography
html {
  font-size: 16px;
}
body, p {
  font-family: 'Lato', sans-serif;
  color: $secondary-color;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  color: $primary-color;
}

h2 {
  font-size: 1.3rem;
  font-weight: lighter;
}

h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: $header-color;
  text-transform: uppercase;
}

// Layout
html {
  height: 100%;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/background.jpg');
  background-size: cover;
  min-height: 100%;
}
